# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug
go-beanstalk-gin
application

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
vendor/

# vendor backups by dep
vendor.orig
_vendor-*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

**/*.log
